:root {
  --borders: #eee;
  --side-back: #f8f8f8;
  --link-color: #000;
  --button-back: #000;
}

body {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px auto;
  height: 100vh;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

input[type='text'] {
  border-radius: 0.25rem;
  border: 1px solid #eee;
  font-size: 16px;
  padding: 0.3rem;
}

button {
  background: var(--button-back);
  border-radius: 0.25rem;
  border: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
}

header {
  border-bottom: 1px solid var(--borders);
  display: flex;
  grid-column-end: -1;
  grid-column-start: 1;
  padding: 1rem;
}

header a {
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 1rem;
}

header nav {
  margin-left: auto;
}

.brand {
  margin: 0 0 auto;
}

.main {
  padding: 1rem;
}

.sidenav {
  background: var(--side-back);
  border-right: 1px solid var(--borders);
  padding: 1rem;
}

.sidenav a {
  display: block;
  padding: 0.5em;
  opacity: 0.7;
  transition: opacity 2s;
}

.sidebar a:hover {
  opacity: 1;
}
